body {
  font-family: Lato;
  border: 2px solid purple;
}

/*Top Nav Section*/

.header {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  padding: 15px 25px;
  width: calc(100% - 50px);
  border: 2px solid greenyellow;
}

.nav-left {
  align-items: center;
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
}

.nav {
  display: none;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding-left: 0;
}

@media (min-width: 1085px) {
  .nav {
    display: flex;
  }
}

ul {
  list-style: none;
}

.nav li {
  font-size: 14px;
  margin: 0 20px;
  cursor: pointer;
}

.nav-right {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-right: 45px;
}

/*Bio Intro Section*/

.bio-intro-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px 15px 50px 15px;
  border: 3px solid lightblue;
}

.bio-intro-text p {
  font-size: 48px;
}

/* Portfolio Grid Section*/

.portfolio-container {
  border: solid 3px yellowgreen;
  margin: 30px;
}

.grid-portfolio-layout {
  padding: 35px 70px 200px 125px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px 10px;
  justify-content: center;
  align-content: center;
}

.placeholder-image {
  width: 600px;
  height: 400px;
}
