body {
  font-family: Lato;
  border: 2px solid purple;
}

/*TOP NAV SECTION*/

.header {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  padding: 15px 25px;
  width: calc(100% - 50px);
  border: 2px solid greenyellow;
}

.nav-left {
  align-items: center;
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
}

.nav {
  display: none;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding-left: 0;
}

@media (min-width: 1085px) {
  .nav {
    display: flex;
  }
}

ul {
  list-style: none;
}

.nav li {
  font-size: 14px;
  margin: 0 20px;
  cursor: pointer;
}

.nav-right {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-right: 45px;
}

/* DROPDOWN MENU */
.nav {
  overflow: hidden;
}

.dropdown {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-right: 45px;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  border: 1px solid pink;
}

.nav a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
  background-color: pink;
}

.dropdown-content {
  background-color: white;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  display: none;
  padding: 15px;
  position: absolute;
  top: 60px;
  width: 250px;
  z-index: 10;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.show {
  display: block;
}

/*BIO INTRO SECTION*/

.bio-intro-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px 25px 50px 25px;
  /border: 3px solid lightblue;
}

.bio-intro-text {
  font-size: 64px;
  text-align: center;
}

/* PORTFOLIO GRID SECTION*/

.portfolio-container {
  border: solid 3px yellowgreen;
  margin: 30px;
}

.grid-portfolio-layout {
  padding: 35px 70px 200px 125px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px 10px;
  justify-content: center;
  align-content: center;
}

.placeholder-image {
  width: 600px;
  height: 400px;
}

/*PORTFOLIO HOME PAGE TRANSITION EFFECTS*/

.container {
  width: 600px;
  position: relative; /*Need this so text knows where to go...take out and text overlay jumps up to top of page*/
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.parent {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.5;
}

.container:hover .parent {
  opacity: 1;
}

.text {
  color: black;
  font-size: 42px;
  padding: 16px 32px;
}
